// mentions styles
$faux-link: #2ba6cb;

%ql-mentions-base {
  box-shadow: -1px -1px 2px #ddd,
               1px  1px 2px #ddd;
  display: none;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      background: #fff;
      border-bottom: solid thin #ddd;
      cursor: pointer;
      padding: 8px 12px 8px 12px;

      -webkit-transform: translateZ(1px); // hack... makes the overlay _actually_ overlay text inside the editor. tried using z-index but no dice.
      transform: translateZ(1px);

      &:last-child {
        border-bottom: none;
      }
    }
  }
  &.ql-is-mentioning {
    display: inherit;
  }
}

.ql-mentions {
  border: solid 1px #ddd;
  font-size: 13px;
  padding: 0;

  @extend %ql-mentions-base;
}

.ql-mention-item {
  color: $faux-link;
  text-decoration: underline;

  &.ql-mention-item-selected,
  &:hover {
    background: #888;
    color: white;
  }
}

.ql-mention-item-no-match {
  pointer-events: none;
}