// mentions styles
$faux-link: #2ba6cb;

@mixin translate-z($n) {
  -webkit-transform: translateZ($n); // hack... makes the overlay _actually_ overlay text inside the editor. tried using z-index but no dice.
  transform: translateZ($n); 
}

%ql-mentions-base {
  box-shadow: -1px -1px 2px #ddd,
               1px  1px 2px #ddd;
  display: none;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      background: #fff;
      border-bottom: solid thin #ddd;
      cursor: pointer;
      padding: 8px 12px;

      @include translate-z(1px);

      &.ql-mention-choice-selected,
      &:hover {
        background: #888;
        color: white;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
  &.ql-is-mentioning {
    display: table;
  }
}

.ql-mentions {
  border: solid 1px #ddd;
  font-size: 13px;
  padding: 0;

  @extend %ql-mentions-base;
}

.ql-mention-no-match {
  padding: 6px 12px;
  pointer-events: none;

  @include translate-z(1px);
}

[class^="ql-mention-item"] {
 // apply custom styles to the way the item looks
}

